.lt-histogram {
  display: flex;
  font-size: xx-small;
  justify-content: space-evenly;
  min-height: 2.5em;
  margin-bottom: 1em;
  position: relative;
  font-weight: normal;
}

.lt-histogram-bin {
  position: relative;
  margin-right: 1px;
  flex-grow: 1;
}

.lt-histogram-bin[data-label]::before {
  content: attr(data-label);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
}
.lt-histogram-bin-dense {
  margin-right: 0;
}

.lt-histogram[data-min]::before {
  content: attr(data-min);
  position: absolute;
  top: 100%;
  left: 0;
  width: 50%;
  overflow: hidden;
  text-align: left;
}

.lt-histogram[data-max]::after {
  content: attr(data-max);
  position: absolute;
  top: 100%;
  right: 0;
  width: 50%;
  overflow: hidden;
  text-align: right;
}
