.lt-histogram {
  display: flex;
  justify-content: space-evenly;
}

.lt-histogram-bin {
  position: relative;
  margin-right: 1px;
  flex-grow: 1;
}

.lt-histogram-bin-interactive {
  cursor: pointer;
}

.lt-histogram-bin[data-label]::before {
  content: attr(data-label);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.lt-histogram-bin-dense {
  margin-right: 0;
}
