.lt-histogram {
  display: flex;
  justify-content: space-evenly;
}

.lt-histogram-bin {
  position: relative;
  margin-right: 1px;
  flex-grow: 1;
}

.lt-histogram-bin-interactive {
  cursor: pointer;
}

.lt-histogram-bin[data-label]::before {
  content: attr(data-label);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.lt-histogram-bin-dense {
  margin-right: 0;
}

.lt-histogram-range {
  position: absolute;
  height: 100%;
  background: repeating-linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7) 7px,
    rgba(0, 0, 0, 0.2) 7px,
    rgba(0, 0, 0, 0.2) 10px
  );
}

.lt-histogram-range-min {
  left: 0;
}

.lt-histogram-range-max {
  right: 0;
}

.lt-histogram-range-drag {
  position: absolute;
  top: 0;
  height: 100%;
  cursor: ew-resize;
  opacity: 0.5;
}

.lt-histogram-range-drag:hover {
  opacity: 1;
}

.lt-histogram-range-min > .lt-histogram-range-drag {
  border-right: 0px solid black;
  transition: border-right-width 0.5s ease;
  left: 100%;
}

.lt-histogram-range-max > .lt-histogram-range-drag {
  border-left: 0px solid black;
  transition: border-left-width 0.5s ease;
  right: 100%;
}

.lt-histogram:hover .lt-histogram-range-drag {
  border-right-width: 3px;
}
.lt-histogram:hover .lt-histogram-range-drag {
  border-left-width: 3px;
}
