*.log
.DS_Store
node_modules
.cache
dist
.vscode
storybook-static
**/src/**/*.d.ts
**/src/**/*.js
*.map
.storybook/**/*.d.ts
*.tgz
*.tsbuildinfo
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/versions
.pnp.*
/docs
/packages/*/docs/
.tmp
.rollup.cache