.lt-table {
  --current-inverted-color: white;
  --current-color: currentColor;
}

.lt-table-virtual {
  display: flex;
  flex-direction: column;
}

.lt-thead {
  margin-bottom: 0.25em;
}

.lt-thead-virtual {
  overflow: hidden;
}

.lt-th {
}

.lt-th-group {
}

.lt-tbody {
}

.lt-tbody-virtual {
  flex: 1 1 0;
  overflow: auto;
}

.lt-tr {
}

.lt-tr-virtual {
  position: absolute;
  left: 0;
  top: 0;
}

.lt-th,
.lt-td {
  margin: 0 0.25em;
}

.lt-td {
  display: inline-flex !important;
  flex-direction: column;
  justify-content: center;
}

.lt-th-support,
.lt-td-support {
  margin: 0;
}

.lt-header {
  text-align: center;
}

.lt-column-resize-handle {
  position: absolute;
  top: 0;
  right: -0.25em;
  width: 0.5em;
  height: 100%;
  background-color: var(--current-inverted-color, white);
  cursor: col-resize;
  transform: translateX(50%);
  /* prevents from scrolling while dragging on touch devices */
  touch-action: none;

  transition: opacity 0.25s ease;
  opacity: 0;
}

.lt-th:hover > .lt-column-resize-handle,
.lt-column-resizing > .lt-column-resize-handle {
  background: lightgray;
  z-index: 1;
  opacity: 1;
}

.lt-th-support {
  padding-top: 2em;
}
