.lt-table {
}

.lt-thead {
}

.lt-th {
}

.lt-th-group {
}

.lt-tbody {
}

.lt-tr {
}

.lt-td {
}

.lt-header {
  text-align: center;
}

.lt-column-resize-handle {
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
  background-color: white;
  cursor: col-resize;
  transform: translateX(50%);
  /* prevents from scrolling while dragging on touch devices */
  touch-action: none;

  transition: opacity 0.25s ease;
  opacity: 0;
}

.lt-th:hover > .lt-column-resize-handle,
.lt-column-resizing > .lt-column-resize-handle {
  background: lightgray;
  z-index: 1;
  opacity: 1;
}

.lt-th-support {
  padding-top: 2em;
}
