.lt-toolbar {
  display: flex;
  justify-content: center;
}

.lt-action {
  margin: 0.1em 0.2em;
  opacity: 0.25;
  transition: opacity 0.25s ease;
  font-size: inherit;
  box-sizing: border-box;
  fill: var(--current-color, currentColor);
}

.lt-action:hover,
.lt-action-active {
  opacity: 1;
}
