.lt-expand-agg {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.25s ease;
}

.lt-expanded {
  transform: rotate(90deg);
}
