.lt-expand-agg {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.25s ease;
}

.lt-expanded {
  transform: rotate(90deg);
}
.lt-expand-1 {
  transform: translate(2px, 0);
}
.lt-expand-1.lt-expanded {
  transform: translate(2px, 0) rotate(90deg);
}
.lt-expand-2 {
  transform: translate(4px, 0);
}
.lt-expand-2.lt-expanded {
  transform: translate(4px, 0) rotate(90deg);
}
.lt-expand-3 {
  transform: translate(6px, 0);
}
.lt-expand-4.lt-expanded {
  transform: translate(6px, 0) rotate(90deg);
}
