.lt-rank {
  text-align: right;
  white-space: nowrap;
}

.lt-rank-agg {
  flex-grow: 1;
  text-align: right;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
}

.lt-rank-agg-spacer {
  flex-grow: 1;
  border-right: 1px solid var(--current-color, currentColor);
  margin-right: 0.4em;
}
