.lt-boxplot-box {
  stroke: black;
}

.lt-boxplot-frame {
  fill: none;
  stroke: black;
}

.lt-boxplot-outlier {
  fill: black;
}

.lt-boxplot-pre {
  opacity: 0.2;
}

.lt-boxplot {
  display: flex;
  flex-direction: column;
}

.lt-boxplot-wrapper {
  flex: 1 1 0;
  vector-effect: non-scaling-stroke;
}
