.lt-summary {
  font-size: xx-small;
  min-height: 2.5em;
  margin-bottom: 1.2em;
  position: relative;
  font-weight: normal;
}

.lt-group {
  margin-bottom: 0;
}

.lt-summary[data-min]::before {
  content: attr(data-min);
  white-space: nowrap;
  position: absolute;
  top: 100%;
  left: 0;
  width: 50%;
  overflow: hidden;
  text-align: left;
  line-height: 1.2;
}

.lt-summary[data-min]:not([data-max])::before {
  width: 100%;
}

.lt-summary[data-max]::after {
  content: attr(data-max);
  white-space: nowrap;
  position: absolute;
  top: 100%;
  right: 0;
  width: 50%;
  overflow: hidden;
  text-align: right;
  line-height: 1.2;
}
